PIL==1.1.7
Whoosh==2.4.1
argparse==1.2.1
distribute==0.6.24
html5lib==0.95
ipython==0.13.2
isodate==0.4.9
mod-common==1.0
pycurl==7.19.0
pymongo==2.5
rdflib==3.4.0
tornado==3.0.1
wsgiref==0.1.2
pystache==0.5.3
