/* = CONTAINER
================================================ */
.mod-pedal-lata{{{cns}}} {
    background-position:center center;
    background-repeat:no-repeat;
    height:516px;
    position:absolute;
    width:398px;
    border-radius: 120px;
}

/* = BACKGROUND IMAGES - Colour of the pedal
================================================ */
.mod-pedal-lata{{{cns}}}.mod-blue        { background-image:url(/resources/pedals/lata/blue.png{{{ns}}}); }
.mod-pedal-lata{{{cns}}}.mod-brown       { background-image:url(/resources/pedals/lata/brown.png{{{ns}}}); }
.mod-pedal-lata{{{cns}}}.mod-cream       { background-image:url(/resources/pedals/lata/cream.png{{{ns}}}); }
.mod-pedal-lata{{{cns}}}.mod-darkblue    { background-image:url(/resources/pedals/lata/darkblue.png{{{ns}}}); }
.mod-pedal-lata{{{cns}}}.mod-gray        { background-image:url(/resources/pedals/lata/gray.png{{{ns}}}); }
.mod-pedal-lata{{{cns}}}.mod-green       { background-image:url(/resources/pedals/lata/green.png{{{ns}}}); }
.mod-pedal-lata{{{cns}}}.mod-orange      { background-image:url(/resources/pedals/lata/orange.png{{{ns}}}); }
.mod-pedal-lata{{{cns}}}.mod-purple      { background-image:url(/resources/pedals/lata/purple.png{{{ns}}}); }
.mod-pedal-lata{{{cns}}}.mod-red         { background-image:url(/resources/pedals/lata/red.png{{{ns}}}); }
.mod-pedal-lata{{{cns}}}.mod-white       { background-image:url(/resources/pedals/lata/white.png{{{ns}}}); }
.mod-pedal-lata{{{cns}}}.mod-yellow      { background-image:url(/resources/pedals/lata/yellow.png{{{ns}}}); }

/* = PLUGIN'S AUTHOR
================================================ */
.mod-pedal-lata{{{cns}}} .mod-plugin-brand {
    left:30px;
    position:absolute;
    right:30px;
    text-align:center;
    text-transform:uppercase;
    top:290px;
}

.mod-pedal-lata{{{cns}}} .mod-plugin-brand h1 {
    color:#111;
    font-family:"Nexa";
    font-size:32px;
}

/* = PLUGIN'S NAME
================================================ */
.mod-pedal-lata{{{cns}}} .mod-plugin-name {
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:center;
    top:330px;
}

.mod-pedal-lata{{{cns}}} .mod-plugin-name h1 {
    font-family:"Questrial";
    font-size:24px;
    line-height:1;
}

.mod-pedal-lata{{{cns}}}.mod-blue .mod-plugin-name h1 {
    color:rgb(47,73,103);
}

.mod-pedal-lata{{{cns}}}.mod-brown .mod-plugin-name h1 {
    color:rgba(255,255,255,.85);
}

.mod-pedal-lata{{{cns}}}.mod-cream .mod-plugin-name h1 {
    color:rgb(102,98,81);
}

.mod-pedal-lata{{{cns}}}.mod-darkblue .mod-plugin-name h1 {
    color:rgba(255,255,255,.85);
}

.mod-pedal-lata{{{cns}}}.mod-gray .mod-plugin-name h1 {
    color:rgba(255,255,255,.85);
}

.mod-pedal-lata{{{cns}}}.mod-green .mod-plugin-name h1 {
    color:rgb(39,65,26);
}

.mod-pedal-lata{{{cns}}}.mod-orange .mod-plugin-name h1 {
    color:rgb(162,79,21);
}

.mod-pedal-lata{{{cns}}}.mod-purple .mod-plugin-name h1 {
    color:rgba(255,255,255,.85);
}

.mod-pedal-lata{{{cns}}}.mod-red .mod-plugin-name h1 {
    color:rgb(85,14,14);
}

.mod-pedal-lata{{{cns}}}.mod-white .mod-plugin-name h1 {
    color:rgb(42,42,42);
}

.mod-pedal-lata{{{cns}}}.mod-yellow .mod-plugin-name h1 {
    color:rgb(118,95,25);
}

/* = LIGHT ON/OFF
================================================ */
.mod-pedal-lata{{{cns}}} .mod-light {
    height:32px;
    left:0;
    margin:0 auto;
    position:absolute;
    right:0;
    top:250px;
    width:32px;
}

/* = FOOTSWITCH
================================================ */
.mod-pedal-lata{{{cns}}} .mod-footswitch {
    background-image:url(/resources/pedals/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 132px;
    bottom:26px;
    cursor:pointer;
    height:66px;
    width: 66px;
    left:13px;
    margin: auto;
    position:absolute !important;
    right:13px;
    z-index:30;
}
.mod-pedal-lata{{{cns}}} .mod-footswitch.on {
    background-position-y: top !important
}

/* = INPUTS/OUTPUTS
================================================ */
.mod-pedal-lata{{{cns}}} .mod-pedal-input,
.mod-pedal-lata{{{cns}}} .mod-pedal-output {
    top:136px;
}