/* STYLES FOR THE british PEDAL */

@import url(../../../fonts/england-hand/stylesheet.css);

/* = CONTAINER
================================================ */
.pedal-british {
    background-position:center center;
    background-repeat:no-repeat;
    height:520px;
    position:absolute;
    width:279px;
}

/* = BACKGROUND IMAGES - Colour of the pedal
================================================ */
.pedal-british.metallic {
    background-image:url(metallic.png);
}

/* = PLUGIN'S AUTHOR
================================================ */
.pedal-british .author {
    left:30px;
    position:absolute;
    right:30px;
    text-align:center;
    top:390px;
}

.pedal-british .author h1 {
    color:#777471;
    font-family:"EnglandHand";
    font-size:48px;
    text-shadow:-1px -1px -1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,0.5);
}

/* = PLUGIN'S NAME
================================================ */
.pedal-british .name {
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:right;
    top:230px;
}

.pedal-british .name h1 {
    font-family:"Questrial";
    font-size:24px;
    line-height:1;
}

/* = LIGHT ON/OFF
================================================ */
.pedal-british .light {
    height:32px;
    left:140px;
    position:absolute;
    top:20px;
    width:32px;
}

/* = FOOTSWITCH
================================================ */
.pedal-british .footswitch {
    bottom:46px;
    cursor:pointer;
    height:155px;
    left:13px;
    position:absolute;
    right:13px;
    z-index:3;
}

/* = DRAG HANDLE
================================================ */
.pedal-british .drag-handle {
    cursor:move;
    height:320px;
    left:13px;
    position:absolute;
    right:13px;
    top: 10px;
}