body {
    background-color:transparent !important;
    margin:0 !important;
}
.mod-pedal {
    margin-left:16px;
}

/* = Clearfix
================================================ */
.clearfix:after, .container:after {
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden;
}
.clearfix, .container {
    display:block;
}
.clear {
    clear:both;
}

.box {
    padding:10px;
}

.alignleft {
    float:left;
}
.alignright {
    float:right;
}

.textcenter {
    text-align:center;
}
.textright  {
    text-align:right;
}

.bottom {
    margin-bottom:0 !important;
    padding-bottom:0 !important;
}
.left {
    margin-left:0 !important;
    padding-left:0 !important;
}
.right {
    margin-right:0 !important;
    padding-right:0 !important;
}
.top {
    margin-top:0 !important;
    padding-top:0 !important;
}

.nobullets {
    list-style:none;
}

.hidden {
    display:none;
}

::selection {
    background:transparent;
}

pre::selection, pre b::selection {
    background:#8888ff;
}

/**
 * Typography
 */
@font-face {
  font-family: 'cooper hewitt';
  src: url('../fonts/cooper/cooperhewitt-semibold-webfont.eot');
  src: url('../fonts/cooper/cooperhewitt-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cooper/cooperhewitt-semibold-webfont.woff2') format('woff2'), url('../fonts/cooper/cooperhewitt-semibold-webfont.woff') format('woff'), url('../fonts/cooper/cooperhewitt-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'cooper hewitt';
  src: url('../fonts/cooper/cooperhewitt-light-webfont.eot');
  src: url('../fonts/cooper/cooperhewitt-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cooper/cooperhewitt-light-webfont.woff2') format('woff2'), url('../fonts/cooper/cooperhewitt-light-webfont.woff') format('woff'), url('../fonts/cooper/cooperhewitt-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'cooper hewitt';
  src: url('../fonts/cooper/cooperhewitt-lightitalic-webfont.eot');
  src: url('../fonts/cooper/cooperhewitt-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cooper/cooperhewitt-lightitalic-webfont.woff2') format('woff2'), url('../fonts/cooper/cooperhewitt-lightitalic-webfont.woff') format('woff'), url('../fonts/cooper/cooperhewitt-lightitalic-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'cooper hewitt';
  src: url('../fonts/cooper/cooperhewitt-bookitalic-webfont.eot');
  src: url('../fonts/cooper/cooperhewitt-bookitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cooper/cooperhewitt-bookitalic-webfont.woff2') format('woff2'), url('../fonts/cooper/cooperhewitt-bookitalic-webfont.woff') format('woff'), url('../fonts/cooper/cooperhewitt-bookitalic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'cooper hewitt';
  src: url('../fonts/cooper/cooperhewitt-book-webfont.eot');
  src: url('../fonts/cooper/cooperhewitt-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cooper/cooperhewitt-book-webfont.woff2') format('woff2'), url('../fonts/cooper/cooperhewitt-book-webfont.woff') format('woff'), url('../fonts/cooper/cooperhewitt-book-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/**
 * Special
 */
#pedalboard-dashboard * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "cooper hewitt", Sans-serif !important;
  font-weight: 500;
}
