#pedalboard-dashboard .pedal { margin: 50px 0 0 210px }
#pedalboard-dashboard canvas { position: absolute; top: 50px; right: 100px; }
#pedalboard-dashboard img { position: absolute; top: 50px; right: 100px; }

#pedalboard-info { right: 0 }

#effect-menu { position: absolute; top: 50px; left: 10px; }
#effect-menu div { display: block; background-color: #444444; border-radius: 4px; border: 2px solid #151515; padding: 3px 6px; font-size: 15px; color: white; font-weight: bold; cursor: pointer; margin: 10px }

#settings {
    background-image:url(../img/icn-settings.png);
    background-repeat:no-repeat;
    border-color:#2b2b2b;
    border-style:solid;
    border-width:0 0 0 1px;
    cursor: pointer;
    float:right;
    height: 30px;
    margin: 10px 0 0 0;
    width: 30px;
}

.save-popup .box {
    width: 520px;
}
.save-popup .box label {
    width: 120px;
}
.save-popup .box input {
    width: 400px;
    margin-top: 2px;
}
.save-popup .box .controls {
    margin-bottom: 20px;
}
.save-popup .box .controls span {
    border: 1px solid #999;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px 5px 5px 0;
    padding: 5px;
}

/* Wizard - basic layout */

#wizard-window .box { 
    height: 565px;
    margin-left: -450px;
    top: 200px;
    width: 900px;
}

.wizard-icon {
    border: 1px dashed red;
    float: left;
    height: 530px;
    width: 420px;
}

#wizard-cancel {
    position: absolute;
    right: 10px;
    top: 10px;
}

#wizard-window .controls {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 450px
}

#wizard-next {
    float: right;
}

/* Step box */

.step {
    border: 1px dashed red;
    float: right;
    width: 450px
}

.step h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 0
}

#model-choice {
    margin-top: 20px;
    text-align: center;
}
#model-choice div, #model-choice h3 {
    display: inline ;
}

#model-choice .previous, #model-choice .next {
    cursor: pointer;
    font-size: 30px;
    margin: 10px;
}

.previous {
    float: left;
}
.next {
    float: right;
}

#color-options img {
    margin: 5px;
    cursor: pointer;
}

#panel-options {
    float: left;
    padding: 0;
    margin: 0;
}

#panel-options li {
    cursor: pointer;
    list-style-type: none;
    text-align: left;
}

