#pedalboard-dashboard .pedal { margin: 50px 0 0 210px }
#pedalboard-dashboard canvas { position: absolute; top: 50px; right: 100px; }
#pedalboard-dashboard img { position: absolute; top: 50px; right: 100px; }

#pedalboard-info { right: 0 }

ul#menu {
    left: 10px;
    position: absolute;
    top: 50px;
    z-index: 2;
}

ul#menu li {
    background-color: #292929;
    border: 1px solid white;
    border-radius: 5px 5px 0 0;
    color: white;
    cursor: pointer;
    display: inline;
    font-weight: bold;
    padding: 5px 15px;
    list-style-type: none;
    margin: 0 10px 0 -3px;
    z-index: 2;
}

ul#menu li.selected {
    border-bottom: 0;
    font-size: 1.4em;
}

.content {
    border: 1px solid white;
    border-radius: 0 5px 0 0;
    color: white;
    height: 600px;
    left: 32px;
    padding: 15px;
    position: absolute;
    top: 75px;
    width: 900px;
    z-index: 1;
}

.content .canvas {
    padding-top: 15px;
}

.content button {
    margin: 20px 90px;
}

.content .summary {
    float: left;
    margin-right: 40px;
    width: 300px;
}

.debug {
    position: absolute; right: -50px; bottom: 0;
}

#effect-menu { position: absolute; top: 50px; left: 10px; }
#effect-menu div { display: block; background-color: #444444; border-radius: 4px; border: 2px solid #151515; padding: 3px 6px; font-size: 15px; color: white; font-weight: bold; cursor: pointer; margin: 10px }

#no-bundles {
    color: white;
    margin: 40px 0 0 10px;
}

#version {
    color: white;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

#settings {
    background-image:url(../img/icn-settings.png);
    background-repeat:no-repeat;
    border-color:#2b2b2b;
    border-style:solid;
    border-width:0 0 0 1px;
    cursor: pointer;
    float:right;
    height: 30px;
    margin: 10px 0 0 0;
    width: 30px;
}

.save-popup .box, .wizard-popup .box {
    width: 520px;
}
.save-popup .box label, .wizard-popup .box label {
    width: 120px;
}
.save-popup .box input, .wizard-popup .box input {
    width: 400px;
    margin-top: 2px;
}
.save-popup .box .controls, .wizard-popup .box .controls {
    margin-bottom: 20px;
}
.save-popup .box .controls span, .wizard-popup .box .controls span {
    border: 1px solid #999;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px 5px 5px 0;
    padding: 5px;
}

/* save-popup class duplicated for wizard-popup
   This is necessary because save-popup comes from dashboard and we have no control
   over it, while the wizard-popup must ensure that style for the pedal is preserved.
*/

.wizard-popup, .debug-popup {
    background:rgba(0,0,0,.75);
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    top:0;
    z-index:1000;
}

.wizard-popup .box, .debug-popup .box {
    background:white;
    border-radius:9px;
    left:50%;
    margin:-150px -168px;
    padding:18px;
    position:absolute;
    top:50%;
    width:300px;
}

.wizard-popup h1.box-title, .debug-popup h1.box-title {
    font-size:18px;
    line-height:1;
    margin:0 0 18px 0;
    padding:0;
    text-transform:uppercase;
}

.wizard-popup .actions {
    border-color:#ddd;
    border-style:solid;
    border-width:1px 0 0 0;
    margin:9px 0 0 0;
    padding:18px 0 0 0;
    text-align:right;
}

.wizard-popup label {
    display:inline-block;
    float:left;
    line-height:2;
    width:96px;
}

.wizard-popup input[type="text"] {
    width:190px;
}


/* Wizard - basic layout */

#wizard-window .box {
    height: 605px;
    margin-left: -540px;
    top: 200px;
    width: 1080px;
}

.wizard-icon {
    background-color: #292929;
    border-radius: 5px;
    float: left;
    height: 530px;
    padding: 0;
    width: 420px;
}

#wizard-cancel, #debug-cancel {
    position: absolute;
    right: 10px;
    top: 10px;
}

#wizard-window .controls {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 450px
}

#wizard-next {
    float: right;
}

/* Step box */

.step {
    float: right;
    width: 600px
}

.step h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 0
}

#model-choice {
    margin-top: 20px;
    text-align: center;
}
#model-choice div, #model-choice h3 {
    display: inline ;
}

#model-choice .previous, #model-choice .next {
    cursor: pointer;
    font-size: 30px;
    margin: 10px;
}

.previous {
    float: left;
}
.next {
    float: right;
}

#color-options img {
    padding: 5px;
    cursor: pointer;
}

#color-options img.selected {
    border: 1px solid red;
    padding: 4px;
}

#panel-options {
    float: left;
    padding: 0;
    margin: 0;
}

#panel-options li {
    cursor: pointer;
    list-style-type: none;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    width: 90px;
}

#panel-options li.selected {
    border: 1px solid red;
    padding: 4px;
}

#knob-choice {
    display: block;
    margin-top: 10px;
}

#knob-choice h4 {
    display: block;
}

#knob-options div {
    padding: 5px;
    display: inline-block;
}

#knob-options .selected {
    border: 1px solid red;
    padding: 4px;
    display: inline-block;
}

#wizard-thumbnail {
    text-align: center
}
#wizard-thumbnail img {
    height: 60%
}

.ttl-code {
    border: 1px solid black;
    background-color: #ddd;
    padding: 15px;
    width: 100%;
    height: 55px;
}

#ttl-body {
    height: 200px;
}

#debug-window .box {
    height: 605px;
    margin-left: -470px;
    overflow: auto;
    top: 170px;
    width: 940px;
}
