/* STYLES FOR THE BOXY PEDAL */

@import url(../../../fonts/nexa/stylesheet.css);
@import url(../../../fonts/questrial/stylesheet.css);


/* = CONTAINER
================================================ */
.mod-pedal-boxy {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:230px 431px;
    height:431px;
    position:absolute;
    width:230px;
}

.mod-pedal-boxy.mod-boxy75 {
    background-size:326px 431px;
    width:326px;
}

/* = BACKGROUND IMAGES - Colour of the pedal
================================================ */
/* NORMAL */
.mod-pedal-boxy.mod-blue {
    background-image:url(blue.png);
}
.mod-pedal-boxy.mod-brown {
    background-image:url(brown.png);
}
.mod-pedal-boxy.mod-cream {
    background-image:url(cream.png);
}
.mod-pedal-boxy.mod-darkblue {
    background-image:url(darkblue.png);
}
.mod-pedal-boxy.mod-gray {
    background-image:url(gray.png);
}
.mod-pedal-boxy.mod-green {
    background-image:url(green.png);
}
.mod-pedal-boxy.mod-orange {
    background-image:url(orange.png);
}
.mod-pedal-boxy.mod-purple {
    background-image:url(purple.png);
}
.mod-pedal-boxy.mod-red {
    background-image:url(red.png);
}
.mod-pedal-boxy.mod-white {
    background-image:url(white.png);
}
.mod-pedal-boxy.mod-yellow {
    background-image:url(yellow.png);
}

/* LARGE */
.mod-pedal-boxy.mod-boxy75.mod-blue {
    background-image:url(../boxy75/blue.png);
}
.mod-pedal-boxy.mod-boxy75.mod-brown {
    background-image:url(../boxy75/brown.png);
}
.mod-pedal-boxy.mod-boxy75.mod-cream {
    background-image:url(../boxy75/cream.png);
}
.mod-pedal-boxy.mod-boxy75.mod-darkblue {
    background-image:url(../boxy75/darkblue.png);
}
.mod-pedal-boxy.mod-boxy75.mod-gray {
    background-image:url(../boxy75/gray.png);
}
.mod-pedal-boxy.mod-boxy75.mod-green {
    background-image:url(../boxy75/green.png);
}
.mod-pedal-boxy.mod-boxy75.mod-orange {
    background-image:url(../boxy75/orange.png);
}
.mod-pedal-boxy.mod-boxy75.mod-purple {
    background-image:url(../boxy75/purple.png);
}
.mod-pedal-boxy.mod-boxy75.mod-red {
    background-image:url(../boxy75/red.png);
}
.mod-pedal-boxy.mod-boxy75.mod-white {
    background-image:url(../boxy75/white.png);
}
.mod-pedal-boxy.mod-boxy75.yellow {
    background-image:url(../boxy75/yellow.png);
}


/* = PLUGIN'S AUTHOR
================================================ */
.mod-pedal-boxy .mod-plugin-author {
    left:0;
    position:absolute;
    right:0;
    text-align:center;
    text-transform:uppercase;
    top:160px;
}

.mod-pedal-boxy .mod-plugin-author h1 {
    border-color:#000;
    border-radius:12px;
    border-style:solid;
    border-width:4px;
    display:inline-block;
    font-family:"Nexa";
    font-size:32px;
    padding:3px 9px 0;
}

/* = PLUGIN'S NAME
================================================ */
.mod-pedal-boxy .mod-plugin-name {
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:center;
    top:340px;
}

.mod-pedal-boxy .mod-plugin-name h1 {
    font-family:"Questrial";
    font-size:21px;
    line-height:1;
}


/* = PLUGIN'S AUTHO AND NAME COLOURS
================================================ */
.mod-pedal-boxy.blue .mod-plugin-author h1,
.mod-pedal-boxy.blue .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

.mod-pedal-boxy.brown .mod-plugin-author h1,
.mod-pedal-boxy.brown .mod-plugin-name h1 {
    border-color:rgb(255,255,255);
    color:rgb(255,255,255);
}

.mod-pedal-boxy.cream .mod-plugin-author h1,
.mod-pedal-boxy.cream .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

.mod-pedal-boxy.darkblue .mod-plugin-author h1,
.mod-pedal-boxy.darkblue .mod-plugin-name h1 {
    border-color:rgb(255,255,255);
    color:rgb(255,255,255);
}

.mod-pedal-boxy.gray .mod-plugin-author h1,
.mod-pedal-boxy.gray .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

.mod-pedal-boxy.green .mod-plugin-author h1,
.mod-pedal-boxy.green .mod-plugin-name h1 {
    border-color:rgb(255,255,255);
    color:rgb(255,255,255);
}

.mod-pedal-boxy.orange .mod-plugin-author h1,
.mod-pedal-boxy.orange .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

.mod-pedal-boxy.purple .mod-plugin-author h1,
.mod-pedal-boxy.purple .mod-plugin-name h1 {
    border-color:rgb(255,255,255);
    color:rgb(255,255,255);
}

.mod-pedal-boxy.red .mod-plugin-author h1,
.mod-pedal-boxy.red .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

.mod-pedal-boxy.white .mod-plugin-author h1,
.mod-pedal-boxy.white .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

.mod-pedal-boxy.yellow .mod-plugin-author h1,
.mod-pedal-boxy.yellow .mod-plugin-name h1 {
    color:rgb(0,0,0);
}

/* = LIGHT ON/OFF
================================================ */
.mod-pedal-boxy .mod-light {
    background-position:center center;
    background-repeat:no-repeat;
    height:32px;
    left:10px;
    position:absolute;
    right:10px;
    top:235px;
}

/* = FOOTSWITCH
================================================ */
.mod-pedal-boxy .mod-footswitch {
    background-image:url(footswitch.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:auto 65px;
    bottom: 95px;
    cursor:pointer;
    height:66px;
    left:13px;
    position:absolute;
    right:13px;
    z-index:30;
}
