.amp-guitarix {
    background-image:url(amp-guitarix.png);
    background-position:center center;
    background-repeat:no-repeat;
    height:237px;
    position:absolute;
    width:733px;
}

.amp-guitarix .actions { position:relative; }
.amp-guitarix .actions .settings {
    background:url(../../../img/icn-settings-16x16.png) no-repeat bottom center;
    cursor:pointer;
    height:16px;
    position:absolute;
    right:36px;
    top:-20px;
    width:16px;
}
.amp-guitarix .actions .settings:hover { background-position:top center; }
.amp-guitarix .actions .remove {
    background:url(../../../img/icn-remove-16x16.png) no-repeat bottom center;
    cursor:pointer;
    height:16px;
    position:absolute;
    right:18px;
    top:-20px;
    width:16px;
}
.amp-guitarix .actions .remove:hover { background-position:top center; }

.amp-guitarix .controls {
    bottom:34px;
    height:104px;
    left:30px;
    position:absolute;
    right:30px;
}

.amp-guitarix .switch {
    background-position:center center;
    background-repeat:no-repeat;
    cursor:pointer;
    float:left;
    height:104px;
    width:90px;
}

.amp-guitarix .switch.on {
    background-image:url(../rocker-switch-on.png);
    box-shadow:0 0 20px rgba(255,0,0,.15);
}

.amp-guitarix .switch.off {
    background-image:url(../rocker-switch-off.png);
}

.amp-guitarix .switch:hover {
    background-image:url(../rocker-switch-on.png);
    box-shadow:0 0 20px rgba(255,0,0,.15);
}

.amp-guitarix .enumerated-group {
    background:rgba(255,255,255,.1);
    border-color:rgba(255,255,255,.3);
    border-radius:9px;
    border-style:solid;
    border-width:2px;
    color:white;
    float:left;
    font-size:11px;
    height:80px;
    margin-top:11px;
    overflow:hidden;
    width:170px;
}

.amp-guitarix .enumerated-group .title {
    background:rgba(0,0,0,.3);
    border-color:rgba(255,255,255,.2);
    border-style:dotted;
    border-width:0 0 1px 0;
    display:block;
    font-weight:bold;
    line-height:1;
    padding:5px 0 3px 10px;
    text-transform:uppercase;
}

.amp-guitarix .enumerated-group ul {
    list-style:none;
    margin:0;
    padding:0;
}

.amp-guitarix .enumerated-group ul li {
    border-color:rgba(255,255,255,.2);
    border-style:dotted;
    border-width:0 0 1px 0;
    cursor:pointer;
    line-height:1.5;
    margin:0;
    padding:2px 0 2px 10px;
}

.amp-guitarix .enumerated-group ul li.selected {
    background:rgba(0,0,0,.5);
}

.amp-guitarix .enumerated-group ul li:hover {
    background:rgba(0,0,0,.3);
}

.amp-guitarix .knob-group {
    background:rgba(255,255,255,.1);
    border-color:rgba(255,255,255,.3);
    border-radius:9px;
    border-style:solid;
    border-width:2px;
    float:left;
    height:80px;
    margin-left:20px;
    margin-top:11px;
}

.amp-guitarix .knob {
    border-color:rgba(255,255,255,.2);
    border-style:dotted;
    border-width:0 1px 0 0;
    position:relative;
    text-align:center;
}

.amp-guitarix .knob:last-child {
    border:none;
}

.amp-guitarix .knob.chicken-head {
    height:80px;
    float:left;
    width:90px;
}

.amp-guitarix .knob.chicken-head .image {
    background-image:url(../../knobs/chicken-head/_strip.png);
    background-position:left center;
    background-repeat:no-repeat;
    background-size:auto 90px;
    height:90px;
    position:absolute;
    top:3px;
    width:90px;
}

.amp-guitarix .knob.chicken-head .title {
    color:white;
    font-size:10px;
    font-weight:bold;
    left:0;
    position:absolute;
    text-transform:uppercase;
    top:0;
    width:100%;
}