/* STYLES FOR THE BOXY KNOB */

/* = KNOBS
================================================ */
.mod-pedal-british .mod-control-group {
    height:141px;
    left:0;
    margin:0;
    position:absolute;
    right:0;
    text-align:center;
    top:36px;
    z-index:30;
}

.mod-pedal-british .mod-control-group .mod-knob {
    display:inline-block;
    height:100px;
    overflow:hidden;
    position:relative;
    text-align:center;
    width:64px;
}

.mod-pedal-british .mod-control-group .mod-knob .mod-knob-image { 
    background-image:url(british.png);
    background-position:left center;
    background-repeat:no-repeat;
    background-size:auto 64px;
    height:64px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    width:64px;
}

.mod-pedal-british .mod-control-group .mod-knob > span.mod-knob-title {
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    line-height:1;
    margin:0;
    padding:0;
    text-transform:uppercase;
}

.mod-pedal-british.mod-seven-knobs .mod-control-group,
.mod-pedal-british.mod-eight-knobs .mod-control-group {
    margin:0 6px;
}

.mod-pedal-british.mod-seven-knobs .mod-control-group .mod-knob,
.mod-pedal-british.mod-eight-knobs .mod-control-group .mod-knob {
    display:inline-block;
}