/* STYLES FOR THE BOXY KNOB */

/* = KNOBS
================================================ */
.mod-pedal-boxy .mod-control-group {
    margin:20px;
    position:relative;
    text-align:center;
    z-index:30;
}

.mod-pedal-boxy .mod-control-group .mod-knob {
    overflow:hidden;
    position:relative;
}

.mod-pedal-boxy .mod-control-group .mod-knob > span.mod-knob-title {
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    line-height:1;
    margin:0;
    padding:0;
    text-transform:uppercase;
}
.mod-pedal-boxy.blue .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.mod-pedal-boxy.brown .mod-control-group .mod-knob > span.mod-knob-title {
    color:white;
}
.mod-pedal-boxy.cream .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.mod-pedal-boxy.darkblue .mod-control-group .mod-knob > span.mod-knob-title {
    color:white;
}
.mod-pedal-boxy.gray .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.mod-pedal-boxy.green .mod-control-group .mod-knob > span.mod-knob-title {
    color:white;
}
.mod-pedal-boxy.orange .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.mod-pedal-boxy.purple .mod-control-group .mod-knob > span.mod-knob-title {
    color:white;
}
.mod-pedal-boxy.red .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.mod-pedal-boxy.white .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.mod-pedal-boxy.yellow .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}

/* ONE and TWO KNOBS */
.mod-pedal-boxy.mod-one-knob .mod-control-group .mod-knob .mod-knob-image,
.mod-pedal-boxy.mod-two-knobs .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(boxy.png);
}
.mod-pedal-boxy.mod-one-knob .mod-control-group  .mod-knob .mod-knob-image,
.mod-pedal-boxy.mod-two-knobs .mod-control-group .mod-knob .mod-knob-image {
    height:100px;
    margin:0 auto;
    width:100px;
}

/* TWO KNOBS */
.mod-pedal-boxy.mod-two-knobs .mod-control-group {
    margin:20px 10px;
}

.mod-pedal-boxy.mod-two-knobs .mod-control-group .mod-knob {
    float:left;
    width:50%;
}

/* THREE AND HIGHER KNOBS */
.mod-pedal-boxy.mod-three-knobs .mod-control-group,
.mod-pedal-boxy.mod-four-knobs .mod-control-group,
.mod-pedal-boxy.mod-five-knobs .mod-control-group,
.mod-pedal-boxy.mod-six-knobs .mod-control-group,
.mod-pedal-boxy.mod-seven-knobs .mod-control-group,
.mod-pedal-boxy.mod-eight-knobs .mod-control-group {
    margin:20px 6px;
}

.mod-pedal-boxy.mod-three-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy.mod-four-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy.mod-five-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy.mod-six-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy.mod-seven-knobs .mod-control-group .mod-knob,
.mod-pedal-boxy.mod-eight-knobs .mod-control-group .mod-knob {
    display:inline-block;
}

.mod-pedal-boxy.mod-three-knobs .mod-control-group .mod-knob .mod-knob-image,
.mod-pedal-boxy.mod-four-knobs .mod-control-group .mod-knob .mod-knob-image,
.mod-pedal-boxy.mod-five-knobs .mod-control-group .mod-knob .mod-knob-image,
.mod-pedal-boxy.mod-six-knobs .mod-control-group .mod-knob .mod-knob-image,
.mod-pedal-boxy.mod-seven-knobs .mod-control-group .mod-knob .mod-knob-image,
.mod-pedal-boxy.mod-eight-knobs .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(../lata/lata.png);
    background-repeat:no-repeat;
    background-size:auto 70px;
    height:70px;
    margin:0 -2px;
    width:70px;
}

/* FIVE KNOBS */
.mod-pedal-boxy.mod-five-knobs .mod-plugin-author {
    top:190px;
}

.mod-pedal-boxy.mod-five-knobs .mod-plugin-name {
    top:350px;
}

.mod-pedal-boxy.mod-five-knobs .mod-light { 
    top:253px;
}

.mod-pedal-boxy.mod-five-knobs .mod-footswitch { 
    top:285px;
}

/* SIX KNOBS */
.mod-pedal-boxy.mod-six-knobs .mod-plugin-author {
    top:190px;
}

.mod-pedal-boxy.mod-six-knobs .mod-plugin-name {
    top:350px;
}

.mod-pedal-boxy.mod-six-knobs .mod-light { 
    top:253px;
}

.mod-pedal-boxy.mod-six-knobs .mod-footswitch { 
    top:285px;
}

/* SEVEN KNOBS */
.mod-pedal-boxy.mod-seven-knobs .mod-plugin-author {
    top:190px;
}

.mod-pedal-boxy.mod-seven-knobs .mod-plugin-name {
    top:350px;
}

.mod-pedal-boxy.mod-seven-knobs .mod-light { 
    top:253px;
}

.mod-pedal-boxy.mod-seven-knobs .mod-footswitch { 
    top:284px;
}

/* EIGTH KNOBS */
.mod-pedal-boxy.mod-eight-knobs .mod-knob {
    width:70px;
}

.mod-pedal-boxy.mod-eight-knobs .mod-plugin-author {
    top:190px;
}

.mod-pedal-boxy.mod-eight-knobs .mod-plugin-name {
    top:350px;
}

.mod-pedal-boxy.mod-eight-knobs .mod-light { 
    top:253px;
}

.mod-pedal-boxy.mod-eight-knobs .mod-footswitch { 
    top:284px;
}
