/* SKINS */
.mod-combo-model-001-0550 {
    background-image:url(model-0550.png);
    background-position:center center;
    background-repeat:no-repeat;
    font-family:Helvetica,Arial,Sans-serif;
    height:259px;
    position:relative;
    width:550px;
}

.mod-combo-model-001-0700 {
    background-image:url(model-0700.png);
    background-position:center center;
    background-repeat:no-repeat;
    font-family:Helvetica,Arial,Sans-serif;
    height:260px;
    position:relative;
    width:700px;
}

.mod-combo-model-001-0800 {
    background-image:url(model-0800.png);
    background-position:center center;
    background-repeat:no-repeat;
    font-family:Helvetica,Arial,Sans-serif;
    height:260px;
    position:relative;
    width:800px;
}

.mod-combo-model-001-0950 {
    background-image:url(model-0950.png);
    background-position:center center;
    background-repeat:no-repeat;
    font-family:Helvetica,Arial,Sans-serif;
    height:260px;
    position:relative;
    width:950px;
}


/* HANDLE */
.mod-combo-model-001 .mod-drag-handle {
    bottom:0;
    cursor:pointer;
    left:0;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
}

/* THE AUTHOR */
.mod-combo-model-001 .mod-author {
    bottom:90px;
	color:#fff;
    font-size:18px;
    left:45px;
    position:absolute;
    z-index:1;
}

/* PLUGIN'S NAME */
.mod-combo-model-001 .mod-name {
    bottom:60px;
	color:#fff;
    font-size:36px;
    left:45px;
    position:absolute;
    z-index:1;
}

/* CONTROLS */
.mod-combo-model-001 .mod-controls {
    bottom:149px;
    color:#000;
    font-size:10px;
    height:73px;
    left:34px;
    position:absolute;
    right:34px;
    top:37px;
    z-index:3;
}

.mod-combo-model-001 .mod-controls > div {
    margin-right:2px;
}

/* SWITCH ON/OFF GENERAL */
.mod-combo-model-001 .mod-switch {
    cursor:pointer;
    float:left;
    height:73px;
    position:relative;
    width:90px;
}

.mod-combo-model-001 .mod-switch-image {
    background-image:url(/resources/switches/switch-001.png);
    background-position:-9px 0px;
    background-repeat:no-repeat;
    background-size:auto 73px;
    height:73px;
    width:73px;
}

.mod-combo-model-001 .mod-switch-image.on {
    background-position:-82px 0px;
}

.mod-combo-model-001 .mod-switch-image.off {
    background-position:-9px 0px;
}

/* SWITCH ON/OFF - 0550 */
.mod-combo-model-001-0550 .mod-switch {
    width:145px;
}

/* SWITCH ON/OFF - 0700 */
.mod-combo-model-001-0700 .mod-switch {
    width:160px;
}

/* SWITCH ON/OFF - 0800 */
.mod-combo-model-001-0800 .mod-switch {
    width:150px;
}

/* SWITCH ON/OFF - 0950 */
.mod-combo-model-001-0950 .mod-switch {
    width:130px;
}


/* CHICKEN HEAD */
.mod-combo-model-001 .mod-knob-chicken-head {
    float:left;
    height:73px;
    overflow:hidden;
    position:relative;
    text-align:center;
    width:80px;
}

.mod-combo-model-001 .mod-knob-chicken-head .image {
    background-image:url(/resources/knobs/chicken-head/_strip.png);
    background-position:left 0px;
    background-repeat:no-repeat;
    background-size:auto 80px;
    height:73px;
    margin-top:3px;
    position:relative;
    width:80px;
    z-index:2;
}

.mod-combo-model-001 .mod-knob-chicken-head .title {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:10px;
    font-weight:bold;
    left:0;
    position:absolute;
    right:0;
    text-transform:uppercase;
    top:0;
    z-index:1;
}

/* ENUMERATED LIST */
.mod-combo-model-001 .mod-enumerated {
    bottom:-85px;
    display:inline-block;
    height:36px;
    margin-top:40px;
    overflow:hidden;
    position:absolute;
    right:3px;
    width:250px;
}

.mod-combo-model-001 .mod-enumerated > div {
    background:rgba(0,0,0,.85);
    border-radius:4px;
    color:#fff;
    font-size:14px;
    height:34px;
    line-height:2.5;
    margin-right:8px;
    overflow:hidden;
    padding:0 9px;
}

/* SEPARATOR */
.mod-combo-model-001 .mod-separator {
    background:#000;
    display:inline-block;
    float:left;
    height:69px;
    margin-top:2px;
    width:1px;
}