/* SKINS */
.mod-combo-model-001-0550 {
    background-image: url(model-0550.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    width: 550px;
}

.mod-combo-model-001-0625 {
    background-image: url(model-0625.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    width: 625px;
}

.mod-combo-model-001-0778 {
    background-image: url(model-0778.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    width: 778px;
}

.mod-combo-model-001-0930 {
    background-image: url(model-0930.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    width: 930px;
}


/* THE AUTHOR */
.mod-combo-model-001 .mod-plugin-author h1 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    left: 65px;
    line-height: 1;
    margin: 0;
    position: absolute;
    top: 23px;
}

/* PLUGIN'S NAME */
.mod-combo-model-001 .mod-plugin-name h1 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    position: absolute;
    right: 65px;
    top: 23px;
}

/* CONTROLS */
.mod-combo-model-001 .mod-control-group {
    border-color: #000;
    border-style: solid;
    border-width: 1px 0 0 0;
    bottom: 149px;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    height: 71px;
    left: 60px;
    position: absolute;
    right: 60px;
    top: 47px;
}

.mod-combo-model-001 .mod-control-group > div {
    margin-right: 2px;
}

/* SWITCH ON/OFF GENERAL */
.mod-combo-model-001 .mod-switch {
    cursor: pointer;
    float: left;
    height: 71px;
    position: relative;
    width: 130px;
}

.mod-combo-model-001 .mod-switch-image {
    background-image: url(/resources/switches/switch-001.png);
    background-position: -9px 0px;
    background-repeat: no-repeat;
    background-size: auto 71px;
    height: 71px;
    width: 71px;
}

.mod-combo-model-001 .mod-switch-image.on {
    background-position: -80px 0px;
}

.mod-combo-model-001 .mod-switch-image.off {
    background-position: -9px 0px;
}

/* CHICKEN HEAD */
.mod-combo-model-001 .mod-chicken-head {
    float: left;
    height: 71px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 71px;
}

.mod-combo-model-001 .mod-chicken-head .mod-chicken-head-image {
    background-image: url(/resources/knobs/chicken-head/_strip.png);
    background-position: left 0px;
    background-repeat: no-repeat;
    background-size: auto 71px;
    height: 71px;
    margin-top: 3px;
    position: relative;
    width: 71px;
    z-index: 2;
}

.mod-combo-model-001 .mod-chicken-head .mod-chicken-head-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height:18px;
    left: 0;
    overflow:hidden;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 1;
}

/* ENUMERATED LIST */
.mod-combo-model-001 .mod-enumerated {
    bottom: -85px;
    display: inline-block;
    height: 36px;
    margin-top: 40px;
    overflow: hidden;
    position: absolute;
    right: 3px;
    width: 250px;
}

.mod-combo-model-001 .mod-enumerated > div {
    background: rgba(0,0,0,.85);
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    height: 34px;
    line-height: 2.5;
    margin-right: 8px;
    overflow: hidden;
    padding: 0 9px;
}

/* SEPARATOR */
.mod-combo-model-001 .mod-separator {
    background: #000;
    display: inline-block;
    float: left;
    height: 69px;
    margin-top: 2px;
    width: 1px;
}
