<div class="amp-guitarix clearfix">
    
    <!-- CONTROLS -->
    <div class="controls">
        <!-- POWER ON/OFF -->
        <div class="switch off"></div>
        <!-- END POWER ON/OFF -->
        
        <!-- ENUMERATED GROUP -->
        <div class="enumerated-group">
            <span class="title">Model</span>
            <ul>
                <li class="selected">12ax7</li>
                <li>6V6</li>
                <li>12AU7</li>
                <li>pre 12AU7/ master 6V6</li>
                <li>pre 12ax7/ master 6V6</li>
                <li>pre 6DJ8/ push-pull 6V6</li>
                <li>pre 12ax7/ push-pull 6V6</li>
                <li>pre 12AU7/ push-pull 6V6</li>
                <li>12ax7 feedback</li>
                <li>6DJ8</li>
                <li>12AU7 feedback</li>
                <li>pre 6DJ8/ master 6V6</li>
                <li>6DJ8 feedback</li>
                <li>12AT7</li>
                <li>pre 12AT7/ master 6V6</li>
                <li>pre 12AT7/ push pull 6V6</li>
                <li>12AT7 feedback</li>
                <li>6C16</li>
            </ul>
        </div>
        <!-- END ENUMERATED GROUP -->
        
        <!-- KNOB GROUP -->
        <div class="knob-group clearfix">
            <div class="knob chicken-head">
                <span class="title">Pre Gain</span>
                <div class="image"></div>
            </div>
            <div class="knob chicken-head">
                <span class="title">Drive</span>
                <div class="image"></div>
            </div>
            <div class="knob chicken-head">
                <span class="title">Clean/Dist.</span>
                <div class="image"></div>
            </div>
            <div class="knob chicken-head">
                <span class="title">Master Gain</span>
                <div class="image"></div>
            </div>
        </div>
        <!-- END sKNOB GROUP -->
    </div>
    <!-- END CONTROLS -->
</div>