<div class="ampvts clearfix">
    
    <!-- CONTROLS -->
    <div class="controls">
        <!-- POWER ON/OFF -->
        <div class="switch off"></div>
        <div class="enumerated-group">
            <span class="title">Model</span>
            <ul>
                <li>basswoman</li>
                <li class="selected">twin</li>
                <li>wookie</li>
                <li>DC 30</li>
                <li>juice 800</li>
                <li>stanford</li>
                <li>HK 20</li>
                <li>nihon ace</li>
                <li>porky</li>
            </ul>
        </div>
        <!-- END POWER ON/OFF -->
        
        <!-- KNOB-GROUP -->
        <div class="knob-group clearfix">
            <div class="knob chicken-head">
                <span class="title">Gain</span>
                <div class="image"></div>
            </div>
            <div class="knob chicken-head">
                <span class="title">Power</span>
                <div class="image"></div>
            </div>
        </div>
        <!-- END KNOB-GROUP -->
        
        <!-- KNOB-GROUP -->
        <div class="knob-group clearfix">
            <div class="knob chicken-head">
                <span class="title">Bright</span>
                <div class="image"></div>
            </div>
            <div class="knob chicken-head">
                <span class="title">Bass</span>
                <div class="image"></div>
            </div>
            <div class="knob chicken-head">
                <span class="title">Mid</span>
                <div class="image"></div>
            </div>
            <div class="knob chicken-head">
                <span class="title">Treble</span>
                <div class="image"></div>
            </div>
            <div class="knob chicken-head">
                <span class="title">Squash</span>
                <div class="image"></div>
            </div>
            <div class="knob chicken-head">
                <span class="title">Low Cut</span>
                <div class="image"></div>
            </div>
        </div>
        <!-- END KNOB-GROUP -->
    </div>
    <!-- END CONTROLS -->
</div>