<div class="mda-combo clearfix">
    
    <!-- CONTROLS -->
    <div class="controls">
        <!-- POWER ON/OFF -->
        <div class="switch off"></div>
        <!-- END POWER ON/OFF -->
        
        <!-- ENUMERATED GROUP -->
        <div class="enumerated-group">
            <span class="title">Model</span>
            <ul>
                <li class="">D.I. (flat frequency response)</li>
                <li class="selected">Tradtional speaker simulator</li>
                <li>Small radio speaker</li>
                <li>Small combo (close mic)</li>
                <li>Small combo (far mic)</li>
                <li>Large stack (front mic)</li>
                <li>Large stack (side mic, scooped mids)</li>
            </ul>
        </div>
        <!-- END ENUMERATED GROUP -->
        
        <!-- KNOB GROUP -->
        <div class="knob-group clearfix">
            <div class="knob chicken-head">
                <span class="title">Drive</span>
                <div class="image"></div>
            </div>
            <div class="knob chicken-head">
                <span class="title">Output</span>
                <div class="image"></div>
            </div>
            <div class="knob chicken-head">
                <span class="title">HPF Freq.</span>
                <div class="image"></div>
            </div>
        </div>
        <!-- END sKNOB GROUP -->
    </div>
    <!-- END CONTROLS -->
</div>