<div class="mod-head-model-001 mod-head-model-001-0800">
    <!-- HANDLE -->
    <div mod-role="drag-handle" class="mod-drag-handle"></div>
    <!-- END HANDLE -->
    
    <!-- PLUGIN'S AUTHOR -->
    <div class="mod-author">{{author}}</div>
    <!-- END PLUGIN'S AUTHOR -->

    <!-- PLUGIN'S NAME -->
    <div class="mod-name">{{label}}</div>
    <!-- END PLUGIN'S NAME -->

    <!-- MOD-CONTROLS -->
    <div class="mod-controls clearfix">
        <div class="mod-enumerated clearfix">
            <div class="mod-selected">pre 12AU7/ push-pull 6V6</div>
            <div class="mod-list">
                <div>pre 12AU7/ push-pull 6V6</div>
                <div>6V6</div>
                <div>12AU7</div>
                <div>pre 12AU7/ master 6V6</div>
                <div>pre 12ax7/ master 6V6</div>
                <div>pre 6DJ8/ push-pull 6V6</div>
                <div>pre 12ax7/ push-pull 6V6</div>
                <div>pre 12AU7/ push-pull 6V6</div>
                <div>12ax7 feedback</div>
                <div>6DJ8</div>
                <div>12AU7 feedback</div>
                <div>pre 6DJ8/ master 6V6</div>
                <div>6DJ8 feedback</div>
                <div>12AT7</div>
                <div>pre 12AT7/ master 6V6</div>
                <div>pre 12AT7/ push pull 6V6</div>
                <div>12AT7 feedback</div>
                <div>6C16</div>
            </div>
        </div>
        
        <div class="mod-switch" mod-role="bypass">
            <div class="mod-switch-image" mod-role="bypass-light"></div>
        </div>
        
        <div class="mod-separator"></div>

        {{#controls.0}}
        <div class="mod-knob-chicken-head">
            <div class="image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="title">{{name}}</span>
        </div>
        {{/controls.0}}
        {{#controls.1}}
        <div class="mod-knob-chicken-head">
            <div class="image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="title">{{name}}</span>
        </div>
        {{/controls.1}}
        {{#controls.2}}
        <div class="mod-knob-chicken-head">
            <div class="image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="title">{{name}}</span>
        </div>
        {{/controls.2}}
        {{#controls.3}}
        <div class="mod-knob-chicken-head">
            <div class="image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="title">{{name}}</span>
        </div>
        {{/controls.3}}

        <div class="mod-separator"></div>

        {{#controls.4}}
        <div class="mod-knob-chicken-head">
            <div class="image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="title">{{name}}</span>
        </div>
        {{/controls.4}}
        {{#controls.5}}
        <div class="mod-knob-chicken-head">
            <div class="image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="title">{{name}}</span>
        </div>
        {{/controls.5}}
        {{#controls.6}}
        <div class="mod-knob-chicken-head">
            <div class="image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="title">{{name}}</span>
        </div>
        {{/controls.6}}

    </div>
    <!-- END MOD-CONTROLS -->

    <!-- INPUT -->
   <div class="pedal-input">
     {{#effect.ports.audio.input}}
       <div class="input input-disconnected ui-droppable" title="{{name}}" mod-role="input-audio-port" mod-port-symbol="{{symbol}}">
           <div class="pedal-input-control"></div>
           <div class="pedal-input-image"></div>
           <div class="jack-disconnected"></div>
       </div>
     {{/effect.ports.audio.input}}
   </div>
   <!-- END INPUT -->
   
   <!-- OUTPUT -->
   <div class="pedal-output">
     {{#effect.ports.audio.output}}
       <div class="output output-disconnected" title="{{name}}" mod-role="output-audio-port" mod-port-symbol="{{symbol}}">
           <div class="pedal-output-control"></div>
           <div class="pedal-output-image"></div>
           <div class="jack-disconnected"></div>
       </div>
     {{/effect.ports.audio.output}}
   </div>
   <!-- END OUTPUT -->

</div>
