<div class="pedal pedal-boxy seven-knobs boxy75 {{color}}">
    <!-- HANDLE -->
    <div mod-role="icon-handle" class="drag-handle"></div>
    <!-- END HANDLE -->
    
    <!-- PLUGIN'S AUTHOR -->
    <div class="author">
        <h1>{{author}}</h1>
    </div>
    <!-- END PLUGIN'S AUTHOR -->

    <!-- PLUGIN'S NAME -->
    <div class="name">
        <h1>{{label}}</h1>
    </div>
    <!-- END PLUGIN'S NAME -->


    <!-- LIGHT -->
    <div class="light on" mod-role="bypass-light"></div>
    <!-- END LIGHT -->

    <!-- KNOBS -->

    <!-- 1 KNOB -->
    <div class="knob-group clearfix">
      {{#controls}}
        <div class="knob" mod-role="icon-button" mod-button-type="knob">
            <div class="image"></div>
            <span class="title">{{name}}</span>
        </div>
      {{/controls}}
    </div>
    <!-- END 1 BIG KNOB -->

    <!-- END KNOBS -->
    
    <!-- FOOTSWITCH -->
   <div class="footswitch" mod-role="bypass"></div>  
   <!-- END FOOTSWITCH -->
   
   <!-- INPUT -->
   <div class="pedal-input">
       <!-- PEDAL-INPUT-0 -->
       <div class="pedal-input-0 input input-disconnected ui-droppable" title="in">
           <div class="pedal-input-control"></div>
           <div class="pedal-input-image"></div>
           <div class="jack-disconnected"></div>
       </div>
       <!-- END PEDAL-INPUT-0 -->

       <!-- PEDAL-INPUT-1 -->
       <div class="pedal-input-1 input input-disconnected ui-droppable" title="in">
           <div class="pedal-input-control"></div>
           <div class="pedal-input-image"></div>
           <div class="jack-disconnected"></div>
       </div>
       <!-- END PEDAL-INPUT-1 -->

       <!-- PEDAL-INPUT-2 -->
       <div class="pedal-input-2 input input-disconnected ui-droppable" title="in">
           <div class="pedal-input-control"></div>
           <div class="pedal-input-image"></div>
           <div class="jack-disconnected "></div>
       </div>
       <!-- END PEDAL-INPUT-2 -->

       <!-- PEDAL-INPUT-3 -->
       <div class="pedal-input-3 input input-disconnected ui-droppable" title="in">
           <div class="pedal-input-control"></div>
           <div class="pedal-input-image"></div>
           <div class="jack-disconnected "></div>
       </div>
       <!-- END PEDAL-INPUT-3 -->
   </div>
   <!-- END INPUT -->
   
   <!-- OUTPUT -->
   <div class='pedal-output'>
       <!-- PEDAL-OUTPUT-0 -->
       <div class="pedal-output-0 output output-disconnected" title="out">
           <div class="pedal-output-control"></div>
           <div class="pedal-output-image"></div>
           <div class="jack-disconnected "></div>
       </div>
       <!-- END PEDAL-OUTPUT-0 -->
       
       <!-- PEDAL-OUTPUT-1 -->
       <div class="pedal-output-1 output output-disconnected" title="out">
           <div class="pedal-output-control"></div>
           <div class="pedal-output-image"></div>
           <div class="jack-disconnected "></div>
       </div>
       <!-- END PEDAL-OUTPUT-1 -->
       
       <!-- PEDAL-OUTPUT-2 -->
       <div class="pedal-output-2 output output-disconnected" title="out">
           <div class="pedal-output-control"></div>
           <div class="pedal-output-image"></div>
           <div class="jack-disconnected "></div>
       </div>
       <!-- END PEDAL-OUTPUT-2 -->
       
       <!-- PEDAL-OUTPUT-3 -->
       <div class="pedal-output-3 output output-disconnected" title="out">
           <div class="pedal-output-control"></div>
           <div class="pedal-output-image"></div>
           <div class="jack-disconnected "></div>
       </div>
       <!-- END PEDAL-OUTPUT-3 -->
   </div>
   <!-- END OUTPUT -->
</div>
