<div class="pedal pedal-boxy three-sliders {{color}}">
    <!-- HANDLE -->
    <div mod-role="drag-handle" class="drag-handle"></div>
    <!-- END HANDLE -->
    
    <!-- PLUGIN'S AUTHOR -->
    <div class="author">
        <h1>{{author}}</h1>
    </div>
    <!-- END PLUGIN'S AUTHOR -->

    <!-- PLUGIN'S NAME -->
    <div class="name">
        <h1>{{label}}</h1>
    </div>
    <!-- END PLUGIN'S NAME -->


    <!-- LIGHT -->
    <div class="light on" mod-role="bypass-light"></div>
    <!-- END LIGHT -->

    <!-- KNOBS -->

    <!-- 3 SLIDERS -->
    <div class="knob-group clearfix">
      {{#controls}}
        <div class="slider" mod-role="icon-button" mod-button-type="slider">
            <span class="title">{{name}}</span>
            <div class="image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
        </div>
      {{/controls}}
    </div>
    <!-- END 3 SLIDERS -->

    <!-- END KNOBS -->
    
    <!-- FOOTSWITCH -->
   <div class="footswitch" mod-role="bypass"></div>  
   <!-- END FOOTSWITCH -->
   
   <!-- INPUT -->
   <div class="pedal-input">
     {{#effect.ports.audio.input}}
       <div class="input input-disconnected ui-droppable" title="{{name}}" mod-role="input-audio-port" mod-port-symbol="{{symbol}}">
           <div class="pedal-input-control"></div>
           <div class="pedal-input-image"></div>
           <div class="jack-disconnected"></div>
       </div>
     {{/effect.ports.audio.input}}
   </div>
   <!-- END INPUT -->
   
   <!-- OUTPUT -->
   <div class="pedal-output">
     {{#effect.ports.audio.output}}
       <div class="output output-disconnected" title="{{name}}" mod-role="output-audio-port" mod-port-symbol="{{symbol}}">
           <div class="pedal-output-control"></div>
           <div class="pedal-output-image"></div>
           <div class="jack-disconnected"></div>
       </div>
     {{/effect.ports.audio.output}}
   </div>
   <!-- END OUTPUT -->

</div>
